<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue2-自定义事件</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app" v-cloak>
        <p>总数：{{total}}</p>
        <my-component @increase="handleGetTotal" @reduce="handleGetTotal"></my-component>
        <br/>
        <my-component2 v-model="total"></my-component2>
        <br/>
        <my-component3 @input="handleGetTotal"></my-component3>
    </div>

    <script src="../js/vue.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        var app = new Vue({
            el: '#app',
            data: {
                total:0
            },
            methods:{
                handleGetTotal:function(total){
                    this.total = total;
                }
            },
            components: {
                'my-component':{
                    template:'\
                    <div>\
                        <button @click="handleIncrease">+1</button>\
                        <button @click="handleReduce">-1</button>\
                    </div>\
                    ',
                    data: function(){
                        return {
                            counter:0
                        }
                    },
                    methods:{
                        handleIncrease: function(){
                            this.counter++;
                            this.$emit('increase',this.counter);
                        },
                        handleReduce:function(){
                            this.counter--;
                            this.$emit('reduce',this.counter);
                        }
                    }
                },
                'my-component2':{
                    template:'\
                    <div>\
                        <button @click="handleIncrease">+1</button>\
                        <button @click="handleReduce">-1</button>\
                    </div>\
                    ',
                    data: function(){
                        return {
                            counter:0
                        }
                    },
                    methods:{
                        handleIncrease: function(){
                            this.counter++;
                            this.$emit('input',this.counter);
                        },
                        handleReduce:function(){
                            this.counter--;
                            this.$emit('input',this.counter);
                        }
                    }
                },
                'my-component3':{
                    template:'\
                    <div>\
                        <button @click="handleIncrease">+1</button>\
                        <button @click="handleReduce">-1</button>\
                    </div>\
                    ',
                    data: function(){
                        return {
                            counter:0
                        }
                    },
                    methods:{
                        handleIncrease: function(){
                            this.counter++;
                            this.$emit('input',this.counter);
                        },
                        handleReduce:function(){
                            this.counter--;
                            this.$emit('input',this.counter);
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>