<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--log4net配置-->
  <log4net>
    <!--信息日志-->
    <appender name="Log" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="F:/SystemLogs/BatisLogs/log/Info/Loginfo_" />
      <appendToFile value="true" />
      <!--每天更换日志文件名-->
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--每天更换日志文件名-->
      <rollingStyle value="Date" />
      <!--最大变换数量 不限制-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="20MB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：[2011-03-09 16:03:48,629] Info-->
        <conversionPattern value="[%date] %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <!--错误日志-->
    <appender name="Logerror" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="F:/SystemLogs/BatisLogs/log/Erro/Logerror_" />
      <appendToFile value="true" />
      <!--每天更换日志文件名-->
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--每天更换日志文件名-->
      <rollingStyle value="Date" />
      <!--最大变换数量 不限制-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="20MB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：[2011-03-09 16:03:48,629] Error-->
        <conversionPattern value="[%date] %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <!--警告日志-->
    <appender name="Logwarn" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="F:/SystemLogs/BatisLogs/log/Warn/Logwarn_" />
      <appendToFile value="true" />
      <!--每天更换日志文件名-->
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--每天更换日志文件名-->
      <rollingStyle value="Date" />
      <!--最大变换数量 不限制-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="20MB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：[2011-03-09 16:03:48,629] Error-->
        <conversionPattern value="[%date] %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
    <!--调试日志-->
    <appender name="Logdebug" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="F:/SystemLogs/BatisLogs/log/Debug/Logdebug_" />
      <appendToFile value="true" />
      <!--每天更换日志文件名-->
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--每天更换日志文件名-->
      <rollingStyle value="Date" />
      <!--最大变换数量 不限制-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="20MB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：[2011-03-09 16:03:48,629] Error-->
        <conversionPattern value="[%date] %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
    </appender>
    <logger>
      <!--INFO:debug不启用；ERROR:info warn debug不启用；DEBUG:所有都启用；WARN:info debug不启用；FATAL:只有fatal启用;ALL：所有都启用-->
      <level value="ALL" />
      <appender-ref ref="Log" />
      <appender-ref ref="Logerror" />
      <appender-ref ref="Logwarn" />
      <appender-ref ref="Logdebug" />
      <!--防止日志被写两份： logger是从root继承而来，默认的用logger写的日志会被root重复写一份-->
      <additivity value="false" />
    </logger>
    <root>
      <appender-ref ref="Log" />
    </root>
  </log4net>
</configuration>