<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="providers.config"/>
  
  <database>
    <provider name="oracleClient1.0" />
    <dataSource name="OracleServer" connectionString="Data Source=kd176;User ID=mp;Password=mp" />
  </database>

  <sqlMaps>
    <sqlMap resource="Maps/sampleMap.xml"/>
    <sqlMap resource="Maps/sampleMainMap.xml"/>
  </sqlMaps>

</sqlMapConfig>
