<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="queueName" value=".private$\order"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="MsmqWcf.Order">
        <endpoint address="net.msmq://localhost/private/order" binding="netMsmqBingding"
                  contract="WcfServiceMsmq.IOrder" bindingConfiguration="Nosecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7020/msmqwcf"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="Nosecurity">
          <security mode="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>